header{
	background-color: #808080;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 30px;
}
section:after{
	clear: both;
	content: "";
	display: block;
}
footer{
	background-color: #808080;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
}
li{
	border: 1px ;
	color: #ffffff;
	background-color: #33b5e6;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 100px;
	font-color:#ffffff;
}
ul{
	list-style-type: none;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 30px;
}
aside{
	float: left;
	width: 25%;
	box-sizing: border-box;
}
main{
	float: right;
	 width:75%; 
	 box-sizing: border-box;
}